.file-upload-container.upload-employee {
    background-color: #f4f4f4;
  }
  
  .file-upload-title.upload-employee {
    color: green;
  }
  
  .file-upload-button.upload-employee {
    background-color: green;
    color: white;
  }
  
  .file-upload-button.upload-employee:hover {
    background-color: blue;
  }
  