.file-upload-container.upload-company {
  background-color: #eef2f7;
}

.file-upload-title.upload-company {
  color: #333;
}

.file-upload-button.upload-company {
  background-color: #007bff;
  color: white;
}

.file-upload-button.upload-company:hover {
  background-color: #0056b3;
}
